{% extends 'base.html' %}

{% block head %}
Dashboard
{% endblock %}

{% block body %}
<div class="content">
    <h2>Welcome, {{ current_user.username }}</h2>
    <h3>Pending Tasks:</h3>
    {% if tasks_pending|length < 1 %}
        <h4>No tasks pending</h4>
    {% else %}
        <table>
            <tr>
                <th>Task</th>
                <th>Created By</th>
                <th>Added on</th>
                <th></th>
                <th>Actions</th>
            </tr>
            {% for task in tasks_pending %}
                <tr>
                    <td>{{ task.content }}</td>
                    <td>{{ task.user.username }}</td>
                    <td>{{ task.date_created }}</td>
                    <td>
                        <form action="/finish/{{ task.id }}">
                            <input type="submit" value="Finish Task!">
                        </form>
                    </td>
                    <td>
                        <a href="/update/{{ task.id }}">Update</a>
                        <br>
                        <a href="/delete/{{ task.id }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <br>
    <h3>Completed Tasks:</h3>
    {% if tasks_finished|length < 1 %}
        <h4>No tasks completed</h4>
    {% else %}
        <table>
            <tr>
                <th>Task</th>
                <th>Created By</th>
                <th>Added on</th>
                <th>Completed on</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks_finished %}
                <tr>
                    <td>{{ task.content }}</td>
                    <td>{{ task.user.username }}</td>
                    <td>{{ task.date_created }}</td>
                    <td>{{ task.date_finished }}</td>
                    <td>
                        <a href="/delete/{{ task.id }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <br>
    <h3>Add Task:</h3>
    <form action="" method="POST">
        <input type= "text" name= "content" id="content">
        <input type="checkbox" name="is_pvt">
        <label for="is_pvt">Private?</label>
        <input type= "submit" value= "Add Task">
    </form>
    <small><i>(Private tasks do not appear on other users' activity feed.)</i></small>
</div>
<br>
<a href="{{ url_for('profile') }}">Profile</a>
<a href="{{ url_for('logout')}}">Logout</a>
<a href="/">Homepage</a>
{% endblock %}